<div class="" id="detailContainerPage">
	<h1 id='detailTitle'>{{=it.data.title}}</h1>
	<div id="detailContent">
		{{=it.data.content}}
	</div>
	<div id="detailPrice">
		<a target="_blank" style='color:#fff' href="{{=it.data.blink}}" class='buttonL' id='buyButton' >去抢购</a>
		<a target="_blank" style='color:#fff; background:#44D60A' href="http://service.weibo.com/share/share.php?url=http://wjzdm.com/detail/{{=it.data._id}}&appkey=3310821321&title={{=it.data.title}}&pic={{=it.data.mimage}}" class='buttonL' id='shareButton' >分享到微博</a>
	</div>
</div>
