
{{#def.load('/partial.html')}}
{{~it.data :value:index}}
	<div class='span3 item lfloat'>

		<!--******************** 略缩图 ***********************-->

		<a href='#detail' class='thumbLink'>
			<img width='150' src='{{=value.get('simage') || 'images/grey.gif'}}' data-original='{{=value.get('image')}}' modelID='{{=value.get('_id')}}' class='{{=value.get('simage') || 'lazy'}} img-polaroid' alt='' />
		</a>

		<!--******************** 描述区块 ***********************-->

		<div class="itemDesc">
			<!-- 商品标题 -->
			<a class='title' target='_blank' href='{{=value.get('url') ||
                value.get('blink')}}'>{{=value.get('title')}}</a>
			<br/>

			<!-- 价格信息 -->
			<div class="itemBottom">
				<span class='itemSite'>{{=value.get('source') || value.get('mall')}}</span>
				<span
                    class='itemPrice'>{{=value.get('currency')||'￥'}}{{=value.get('newPrice')||value.get('price')}}</span>
			</div>
			
			<!-- 按钮区 -->
			<div class="itemButtonArea">
			</div>
			
		</div>
		
	</div>
{{~}}