<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{=it.title}}网聚值得买-实时聚合每日超值商品，值得你每天来看看</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{{=it.keywords}}"/>
		<meta name="description" content="{{=it.description}}"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
		<!--
		<link rel='stylesheet' href='/javascripts/components/bootstrap/dist/css/bootstrap.min.css'>
		-->
		<link rel="stylesheet" type="text/css" href="/javascripts/components/jquery-ias/dist/css/jquery.ias.css" />
		<script src="/javascripts/components/jquery/jquery.min.js"></script>
		<script src="/javascripts/components/jquery-ias/dist/jquery-ias.min.js"></script>
		<script src="/javascripts/components/doT/doT.min.js"></script>
		<script src='/javascripts/components/moment/min/moment.min.js'></script>
		<script src="/javascripts/main.js"></script>
	</head>

 	<body>

 		{{#def.load('/_head.html')}}
 		
 		{{=it.body}}
		
		{{#def.load('/_foot.html')}}

		<div id='backtt'>
		</div>
	<div style="display:none">
		<script src="http://s96.cnzz.com/stat.php?id=5612458&web_id=5612458" language="JavaScript"></script>
	</div>
	</body>
</html>