<div id="content">
	{{~it.data :value:index}}
		<div class='item'>

			<!--******************** 略缩图 ***********************-->

			<a href='/detail/{{=value._id}}' target='_blank' class='thumbLink'>
				<img width='200' src='{{=value.simage}}' class='img-polaroid' _id='{{=value._id}}' alt='{{=value.title}}' />
			</a>

			<!--******************** 描述区块 ***********************-->

			<div id="itemDesc">
				<!-- 商品标题 -->
				<a class='itemTitle' target='_blank' href='{{=value.blink}}'>{{=value.title}}</a>
				<br/>

				<!-- 价格信息 -->
				<div id="itemBottom">
					<span class='itemPrice'>{{=value.currency||'￥'}}{{=value.price}}</span>
					<a target="_blank" style='color:#fff' href="{{=value.blink}}" class='buttonS' id='buyButton' >去抢购</a>
				</div>
				
				<!-- 按钮区 -->
				<div id="itemButtonArea">
					<a class='itemSite' target='_blank' href='{{=value.alink}}'>1分钟前来自 {{=value.source}}</a>
				</div>
				
			</div>
			
		</div>
	{{~}}	
</div>
<div id="navigation">
	<a href='{{=it.nextURL}}'>next</a>
</div>
