<div id='hint'>
	<b>提示</b>：本站推荐商品均属特价，有很强的时效性，价格可能会在短时间内失效，为及时掌握最新超值商品信息，建议安装<a href='https://itunes.apple.com/cn/app/id662513341' target='_blank'>iPhone App</a>或<a href='https://itunes.apple.com/cn/app/id662513341' target='_blank'>浏览器插件</a>。
</div>
<div id="container">

	{{~it.data :value:index}}
		<div class='item'>

			<!--******************** 略缩图 ***********************-->

			<a href='/detail/{{=value._id}}' target='_blank' class='thumbLink'>
				<img width='200' src='{{=value.simage}}' class='img-polaroid' _id='{{=value._id}}' alt='{{=value.title}}' />
			</a>

			<!--******************** 描述区块 ***********************-->

			<div id="itemDesc">
				<!-- 商品标题 -->
				<a class='itemTitle' target='_blank' href='{{=value.blink}}'>{{=value.title}}</a>
				<br/>

				<!-- 价格信息 -->
				<div id="itemBottom">
					<span class='itemPrice'>{{=value.currency||'￥'}}{{=value.price}}</span>
					<a target="_blank" style='color:#fff' href="{{=value.blink}}" class='buttonS' id='buyButton' >去抢购</a>
				</div>
				
				<!-- 按钮区 -->
				<div id="itemButtonArea">
					<a class='itemSite' target='_blank' href='{{=value.alink}}'>{{=value.moment}} 来自{{=value.source}}</a>
				</div>
				
			</div>
			
		</div>
	{{~}}

	<div id="navigation">
		<a href='{{=it.nextURL}}'>next</a>
	</div>

</div>

