#head
	width 100%
	background #fff
	background #D24036
#top
	padding 10px 50px 0 50px
	height 40px
	line-height 30px
	margin-left 50px
	font-weight bold
	display inline-block
	color #fff

#logo
	float left
	margin-left 50px
	font-size 22px
	font-weight bolder
	color #fff
#nav
	float left
	margin-left 150px
	font-size 16px
	font-weight bolder
	a
		color #fff
		font-size 16px
#search
	float left
	margin-left 150px
#sub-nav
	color #eee
	font-size 14px
	a
		font-size 14px
#catalog
	background #B61111
	padding 7px
	text-align center
	a
		color #fff
#sitelist
	background #ccc
	padding 7px
	text-align center
	a
		color #fff

