#rightContainer
	margin-left 240px
	// width 800px
	height 900px
.item
	display block
	height 320px
	width 180px
	float left
	overflow hidden
.thumbLink
	display block
	width 150px
	height 150px
	overflow hidden
	border 5 solid #fff
.itemDesc
	margin-top 10px
	// height 80px
	width 150px
	vertical-align bottom
.title
	margin-top 15px
	height 36px
	color #666
	line-height 1.5
	display inline-block
	overflow hidden
.itemBottom
	margin-top 5px
.itemButtonArea
	margin-top 5px
	height 30px
.itemSite
	color #999
.itemPrice
	color red
	font-size 12px
	font-weight bold
	margin-left 25px
